.secondry-nav ul {
  list-style: none;
  display: flex;
  flex-direction: column-reverse;
  border-right: solid 2px #000;
  margin-top: 58px;
}

.secondry-nav ul li {
  width: 43px;
  height: 93px;
  display: flex;
  justify-content: center;
  align-items: end;
}

.secondry-nav ul li a {
  text-decoration: none;
  display: block;
  transform: rotate(-90deg);
  font-size: 12px;
  width: 100%;
}

.secondry-nav ul li a:hover {
  color: var(--main-color) !important;
}

.who-we-are {
  margin-left: 50px;
  flex: 0.8;
}

.header-animate-area {
  animation: fadeInRight 1s ease-in-out;
}

.who-we-are .def::after {
  content: "";
  display: inline-block;
  width: 70px;
  height: 2px;
  margin: 3px 11px;
  background-color: #000;
  opacity: 0;
  animation: fadeInRight 1s ease-in-out 0.5s forwards;
}

.who-we-are p {
  line-height: 25px;
}

.comp-word {
  background-color: var(--main-color);
  color: #fff;
  padding: 5px;
  width: 330px;
  height: 180px;
  margin-top: 53%;
}

.comp-word img {
  width: 130px;
  height: 130px;
  margin-right: 10px;
  transform: translate(0, -50%);
  animation: fadeInTop 1s ease-in-out;
}

.comp-word.for-res {
  margin-top: 0;
}

.comp-word.for-res img {
  transform: translate(0, 50%);
}

.sec-content {
  padding: 10px 0 0 10px;
}
.comp-name {
  font-size: 20px;
  font-weight: bold;
}

.comp-slogan {
  font-size: 14px;
}

.cutted-line-contaier {
  transform: translate(-72px, -32px);
}

.cutted-line,
.cutted-line-sub-1,
.cutted-line-sub-2 {
  display: inline-block;
  background-color: #000;
}

.cutted-line {
  width: 190px;
  height: 2px;
  margin-top: -5%;
}

.cutted-line-sub-1 {
  width: 30px;
  height: 2px;
  margin-top: -5%;
  margin: 0 13px;
}

.cutted-line-sub-2 {
  width: 14px;
  height: 2px;
  margin-top: -5%;
}

.cutted-2-line-contaier {
  margin: 0 25px;
  margin-top: 90px;
  margin-left: 50px;
  animation: fadeInTop 1s ease-in-out;
}

.cutted-2-line,
.cutted-2-line-sub-1,
.cutted-2-line-sub-2 {
  display: block;
  width: 2px;
  background: #000;
}

.cutted-2-line {
  height: 210px;
}

.cutted-2-line-sub-1 {
  height: 30px;
  margin: 13px 0;
}

.cutted-2-line-sub-2 {
  height: 14px;
}

.home-galary {
  flex: 1;
  color: #fff;
}

.home-galary i {
  font-size: 27px;
  font-weight: bold;
  margin-top: 100px;
}

.imgs {
  height: 70%;
}

.img-contaner {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.img-contaner div {
  height: 180px;
}

.comp_gal_img {
  width: 100%;
  height: 100%;
}

.h-i-load {
  position: relative;
}

.load {
  background: #eee;
  background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
  background-size: 200% 100%;
  animation: 1.5s shine linear infinite;
}
/* cutted-2-line-contaier */

@keyframes shine {
  to {
    background-position-x: -200%;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(80px);
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeInTop {
  0% {
    opacity: 0;
    transform: translateY(80px);
  }

  100% {
    opacity: 1;
  }
}
